{% extends 'base.html' %}

{% block title %}
    <title>Добавление</title>
{% endblock title %}


{% block content %}
    <h1 style="color: #06869a">Добавление новой информации о человеке</h1>
    <div class="container">
        <div class="col-lg-5 col-lg-offset-1">
            <div>
                <form style="color: #06869a" action="" method="post">{% csrf_token %}
                    <div class="grid-container-insert">
                        <div style="grid-area: column1">

                            <div>
                                <label>Фамилия: </label>
                                {{ insert_form.surname }}
                            </div>
                            <div>
                                <label>Имя: </label>
                                {{ insert_form.name }}
                            </div>
                            <div>
                                <label>Отчество: </label>
                                {{ insert_form.middle_name }}
                            </div>
                            <div>
                                <label>Должность: </label>
                                {{ insert_form.work_position }}
                            </div>
                            <div>
                                <label>Диплом: </label>
                                {{ insert_form.diplom }}
                            </div>
                            <div>
                                <label>Год истечения контракта: </label>
                                {{ insert_form.contract_expire }}
                            </div>
                            <div>
                                <label>Год окончания обучения: </label>
                                {{ insert_form.education_year }}
                            </div>
                            <div>
                                <label>Уволен(да\нет): </label>
                                {{ insert_form.fired }}
                            </div>
                        </div>
                        <div style="grid-area: column2">
                            <div>
                                <label>Информация из университета: </label>
                                {{ education_form.university_text }}
                            </div>
                            <div>
                                <label>Название курса: </label>
                                {{ education_form.course_name }}
                            </div>
                            <div>
                                <label>Дата начала курса: </label>
                                {{ education_form.course_start }}
                            </div>
                            <div>
                                <label>Дата окончания курса: </label>
                                {{ education_form.course_end }}
                            </div>
                            <div>
                                <label>Дополнительная информация: </label>
                                {{ education_form.info }}
                            </div>
                        </div>
                        <div style="grid-area: column3">
                            <form action="" method="post">{% csrf_token %}
                                <div style="display: flex; justify-content: space-between;">
                                    <label>ВУЗ: </label>
                                    {{ university_form.university_name }}
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <label>Кафедра: </label>
                                    {{ chair_form.chair_name }}
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <label>Учёная степень: </label>
                                    {{ phd_form.phd_name }}
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <label>Учёное звание: </label>
                                    {{ academy_rank_form.academy_rank_name }}
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <label>Форма обучения: </label>
                                    {{ course_type_form.course_type_name }}
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <label>Форма реализации: </label>
                                    {{ realisation_form_form.realization_form_name }}
                                </div>
                                <input type="submit" value="Подтвердить и добавить" class="btn23 btn btn-primary"/>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}